<!DOCTYPE html>
<html>
<head>
  <title>header</title>
  <style>
    header {
      background-color: #333;
      color: #fff;
      padding: 10px;
    }
    
    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    
    nav ul li {
      display: inline;
      margin-right: 10px;
    }
    
    nav ul li a {
      color: #fff;
      text-decoration: none;
    }
    /* 버튼에 마우스를 올리면 텍스트 색 변경 */
    nav ul li a:hover{
      color: green;
    }
  </style>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Main</a></li>
        <li><a href="/vm_list/server_status">Server Status</a></li>
        <li><a href="/vm_list">VM List</a></li>
        <li><a href="/cloud_list">Cloud List</a></li>
      </ul>
    </nav>
  </header>
</body>


</html>

