<!DOCTYPE html>
<html>
<head>
    <title>Server Status</title>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
</head>

<style>
</style>

<body>
  {% include "main_header.html" %}
  <div>
    <h3>172.29.100.200</h3>
    <!--grafana.vm.svc.cluster.local -->
    <iframe src="https://172.29.48.240:3000/d-solo/f800aa32-33ff-4369-b0eb-c7f1dc7d7031/esxi-server-status?orgId=1&panelId=1&refresh=5s" width="900" height="300" frameborder="0"></iframe>
  </div>
  <div>
    <h3>172.29.100.203</h3>
    <iframe src="https://172.29.48.240:3000/d-solo/f800aa32-33ff-4369-b0eb-c7f1dc7d7031/esxi-server-status?orgId=1&panelId=2&refresh=5s" width="900" height="300" frameborder="0"></iframe>
  </div>
</body>
</html>
