<!DOCTYPE html>
<html>
<head>
    <title>Server Status</title>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
</head>

<style>
</style>

<body>
  {% include "main_header.html" %}
  <div>
    <h3>172.29.100.200</h3>
    <!--grafana.vm.svc.cluster.local -->
    
    <iframe src="https://172.29.48.240:3000/d/db3b345f-2c44-4ced-b943-db7e36401d21/172-29-100-200?orgId=1&viewPanel=1&refresh=5s" width="900" height="300" frameborder="0"></iframe>
  </div>
  <div>
    <h3>172.29.100.203</h3>
    <iframe src="https://172.29.48.240:3000/d/db3b345f-2c44-4ced-b943-db7e36401d21/172-29-100-200?orgId=1&viewPanel=2&refresh=5s" width="900" height="300" frameborder="0"></iframe>
  </div>
</body>
</html>
